@tailwind base;
@tailwind components;
@tailwind utilities;

.noise-filter {
  filter: contrast(100%) brightness(100%);
  background: radial-gradient(
      circle at 50% 50%,
      rgba(0, 255, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 167 167' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.97' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
html, body, main{
    height: auto;
    @apply scrollbar-corner-white scrollbar scrollbar-thumb-black scrollbar-track-white;
    @apply scroll-smooth;
}
.letter {
    display: inline-block;
}
